body {
  background-color: #feefb1;
}

h1,
p,
.links {
  text-align: center;
}

.links {
  justify-content: space-evenly;
}

.links a {
  margin: 10px;
  color: green;
}

img {
  border-radius: 10px;
  margin: 10px;
  display: block;
  margin: 30px auto;
}
